@import "partials/base";
@import "partials/reset";

html, body
{
  font-size: 67.5%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
	color: rgb(240,240,240);
}

h1
{
  font-size: 4rem;
}

.container
{
  margin: auto;
  width: 100%;
  height: auto;

}

.page-header
{
  width: 60%;
  margin: auto;
	color: rgb(20,20,20);
}

form
{
  // Creditcard size = 85.60mm x 53.98mm. Then -20 px because of padding 2rem, 1 rem = 10px
  width: 836px;
  height: 519px;
	padding: 2rem;
	margin: auto;
	border-radius: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	background-color: $color-ccard-default;
}

form input, select
{
	font-size: 2rem;
	text-indent: 1rem;
	color: $color-typography-white;
	background-color: $color-ccard-default;
	border: 2px solid $color-typography-whitesmoke;
	transition: background 0.15s linear;
}

form input:hover
{
	background-color: $color-ccard-default-hover;
}

select:hover
{
	background-color: $color-ccard-default-hover;
}

form input:focus
{
	outline: none;
	border-color: white;
	box-shadow: 0 0 10px whitesmoke;
}

select:focus
{
	outline: none;
	border-color: white;
	box-shadow: 0 0 10px whitesmoke;
}

#ccardLogo
{
  flex: 1 0 50%;
	text-align: center;
}

#ccardImage
{
  /*
  -webkit-animation: logoFade 1s once;
  -moz-animation:    logoFade 1s once;
  -o-animation:      logoFade 1s once;
  animation:         logoFade 1s once;
  */
  opacity: 1;
}

@-webkit-keyframes logoFade
{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.creditcardNumber
{
	flex: 1 0 100%;
	text-align: center;
}

#card
{
	width: 100%;
	height: 5rem;
}

.nameHolder
{
	flex: 1 0 60%;
}

#nameHolder
{
	width: 100%;
	height: 5rem;
}

.expDateContainer
{
	flex: 1 0 40%;
}

.expDateContainer select
{
	height: 5.6rem;
	width: 45%;
	-webkit-appearance: textarea;
}

.cvvNumber
{
	flex: 1 0 100%;
}

#cvvNumber
{
	width: 25%;
	height: 5rem;
}

form .errormessage
{
	flex: 1 50%;
	font-size: 5rem;
	min-height: 25%;
}

.submitContainer
{
	width: 60%;
	margin: auto;
}

.submitButton
{
	display: block;
	margin: auto;
}

.checkmark
{
	display: inline-block;
	color: green;
	font-size: 5rem;
}

.defaultCardBGColor
{
	background-color: $color-ccard-default;
	transition: background 0.3s linear;
}

.visaCardColor
{
	background-color: $color-ccard-visa;
	transition: background 0.3s linear;
}

.masterCardColor //logo is one red circle intersecting with an orange circle
{
	background-color: $color-ccard-mastercard;
	transition: background 0.3s linear;
}

.americanExpressColor
{
	background-color: $color-ccard-amex;
	transition: background 0.3s linear;
}

.inputBorder
{
	border: 2px solid $color-typography-white;
}

// Hides the up and down arrows next to input fields
// http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
