@import "partials/base";
@import "partials/reset";

html, body
{
  font-size: 67.5%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
	color: rgb(240,240,240);
  font-family: monospace;
}

h1
{
  font-size: 4rem;
}

h5
{
  font-size: 2rem;
}

.container
{
  margin: auto;
  width: 100%;
  height: auto;

}

.page-header
{
  width: 60%;
  margin: auto;
	color: rgb(20,20,20);
}

form
{
  // Creditcard size = 85.60mm x 53.98mm. Then -20 px because of padding 2rem, 1 rem = 10px
  width: 836px;
  height: 519px;
	padding: 2rem;
	margin: auto;
	border-radius: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	background-color: $color-ccard-default;
}

form input, select
{
	font-size: 2rem;
	text-indent: 1rem;
	color: $color-typography-white;
	background-color: $color-ccard-default;
	border: 2px solid $color-typography-whitesmoke;
	transition: background 0.15s linear;
}

form input:hover
{
	background-color: $color-ccard-default-hover;
}

form input:focus
{
	outline: none;
	border-color: white;
	box-shadow: 0 0 10px whitesmoke;
}

select:focus
{
	outline: none;
	border-color: white;
	box-shadow: 0 0 10px whitesmoke;
}

.movingLight
{
  width: 900px;
  height: 50px;
  background-color: $color-ccard-default-hover;
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-animation: movingLightAnim 0.75s ease-in-out;
  transform: rotate(-5deg);
}

@-webkit-keyframes movingLightAnim
{
  0%
  {
    top: 0px;
    opacity: 0;
    height: 25px;
  }

  50%
  {
    opacity: 1;
    height: 100px;
  }

  100%
  {
    top: 600px;
    opacity: 0;
    height: 25px;
  }

}

#ccardLogo
{
  flex: 1 0 30%;
	text-align: center;
}

#ccardImage
{
  opacity: 1;
  display: block;
  float: right;
}

@-webkit-keyframes logoFade
{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.creditcardNumber
{
	flex: 1 0 100%;
	text-align: center;
}

#card
{
	width: 100%;
	height: 5rem;
  font-family: inherit;
}

.nameHolder
{
	flex: 1 0 60%;
}

#nameHolder
{
	width: 100%;
	height: 5rem;
  font-family: inherit;
}

.expDateContainer
{
	flex: 1 0 40%;
}

.expDateContainer select
{
	height: 5.6rem;
	width: 45%;
	-webkit-appearance: menulist;
  font-family: inherit;
}

/* Cannot seem to fix that children do not get this color eitherfok

.expDateContainer select:hover
{
  background-color: $color-ccard-default-hover;
}
*/
.cvvNumber
{
	flex: 1 0 100%;
}

#cvvNumber
{
	width: 25%;
	height: 5rem;
  font-family: inherit;
}

.errormessage
{
	flex: 1 70%;
	font-size: 4rem;
}

.submitContainer
{
	width: 60%;
	margin: auto;
}

.submitButton
{
	display: block;
	margin: auto;
}

.checkmark
{
	display: inline-block;
	color: white;
	font-size: 4rem;
}

.checkmark h5
{
  display: inline;
  vertical-align: middle;
}

.defaultCardBGColor
{
	background-color: $color-ccard-default;
	transition: background 0.3s linear;
}

.visaCardColor
{
	background-color: $color-ccard-visa;
	transition: background 0.3s linear;
}

.masterCardColor //logo is one red circle intersecting with an orange circle
{
	background-color: $color-ccard-mastercard;
	transition: background 0.3s linear;
}

.americanExpressColor
{
	background-color: $color-ccard-amex;
	transition: background 0.3s linear;
}

.inputBorder
{
	border: 2px solid $color-typography-white;
}

// Hides the up and down arrows next to input fields
// http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
